[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastmcp = "*"
sqlmodel = "*"
prompt-toolkit = "*"
hypothesis = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
